@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
body {
  background: #5D576B;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Roboto;
  color: black;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.container {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 10px;
  margin-top: 30px;
}

.quote {
  padding: 50px;
  width: 100%;
  display: block;
}

h2 {
  text-align: right;
  color: #999;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 7px;
  font-family: Roboto;
  background: #4099FF;
  margin: 0px 8px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.buttons {
  text-align: center;
}
